$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #FD0022;
$secondary_paletteKeyColor: #9C6B56;
$tertiary_paletteKeyColor: #A16B3C;
$neutral_paletteKeyColor: #88726F;
$neutral_variant_paletteKeyColor: #8C716E;
$background: #1E100E;
$onBackground: #F9DCD9;
$surface: #1E100E;
$surfaceDim: #1E100E;
$surfaceBright: #473533;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #271816;
$surfaceContainer: #2B1C1A;
$surfaceContainerHigh: #362624;
$surfaceContainerHighest: #42302F;
$onSurface: #F9DCD9;
$surfaceVariant: #58413F;
$onSurfaceVariant: #DFBFBC;
$inverseSurface: #F9DCD9;
$inverseOnSurface: #3D2C2A;
$outline: #A78A87;
$outlineVariant: #58413F;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFB4AC;
$primary: #FFB4AC;
$onPrimary: #690007;
$primaryContainer: #93000E;
$onPrimaryContainer: #FFDAD6;
$inversePrimary: #C00017;
$secondary: #F5B9A1;
$onSecondary: #4B2716;
$secondaryContainer: #663C2A;
$onSecondaryContainer: #FFDBCD;
$tertiary: #FBB983;
$onTertiary: #4D2700;
$tertiaryContainer: #BE8453;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FFDAD6;
$primaryFixedDim: #FFB4AC;
$onPrimaryFixed: #410003;
$onPrimaryFixedVariant: #93000E;
$secondaryFixed: #FFDBCD;
$secondaryFixedDim: #F5B9A1;
$onSecondaryFixed: #321204;
$onSecondaryFixedVariant: #663C2A;
$tertiaryFixed: #FFDCC2;
$tertiaryFixedDim: #FBB983;
$onTertiaryFixed: #2E1500;
$onTertiaryFixedVariant: #693C10;
