$darkmode: true;
$primary: #b4befe;
$onPrimary: #431a6b;
$primaryContainer: #5b3384;
$onPrimaryContainer: #f1dbff;
$secondary: #a6e3a1;
$onSecondary: #313244;
$secondaryContainer: #45475a;
$onSecondaryContainer: #bac2de;
$tertiary: #f2b7be;
$onTertiary: #4b252b;
$tertiaryContainer: #653b41;
$onTertiaryContainer: #ffdadf;
$error: #f38ba8;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #1e1e2e;
$background: #1e1e2e;
$onBackground: #cdd6f4;
$surface: #313244;
$onSurface: #a6adc8;
$surfaceVariant: #45475a;
$onSurfaceVariant: #bac2de;
$outline: #968e99;
$shadow: #000000;
$inverseSurface: #cdd6f4;
$inverseOnSurface: #322f33;
$inversePrimary: #744c9e;
