$darkmode: true;
$primary: #ffb2bd;
$onPrimary: #5f1225;
$primaryContainer: #7d293a;
$onPrimaryContainer: #ffd9de;
$secondary: #e5bcc0;
$onSecondary: #43292c;
$secondaryContainer: #5c3f42;
$onSecondaryContainer: #ffdadd;
$tertiary: #e9bf8f;
$onTertiary: #442b07;
$tertiaryContainer: #5e411b;
$onTertiaryContainer: #ffddb5;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #130F10;
$background: #130F10;
$onBackground: #ece0e0;
$surface: #211a1b;
$onSurface: #ece0e0;
$surfaceVariant: #524344;
$onSurfaceVariant: #d7c2c3;
$outline: #9f8c8d;
$shadow: #000000;
$inverseSurface: #ece0e0;
$inverseOnSurface: #352f2f;
$inversePrimary: #9c4051;
