$darkmode: True;
$transparent: False;
$primary_paletteKeyColor: #FF8001;
$secondary_paletteKeyColor: #957048;
$tertiary_paletteKeyColor: #937231;
$neutral_paletteKeyColor: #877367;
$neutral_variant_paletteKeyColor: #8A7264;
$background: #1D1108;
$onBackground: #F7DDCF;
$surface: #1D1108;
$surfaceDim: #1D1108;
$surfaceBright: #46362C;
$surfaceContainerLowest: #FFFFFF;
$surfaceContainerLow: #261910;
$surfaceContainer: #2A1D14;
$surfaceContainerHigh: #36271E;
$surfaceContainerHighest: #413128;
$onSurface: #F7DDCF;
$surfaceVariant: #574336;
$onSurfaceVariant: #DEC1B0;
$inverseSurface: #F7DDCF;
$inverseOnSurface: #3C2D24;
$outline: #A58C7C;
$outlineVariant: #574336;
$shadow: #000000;
$scrim: #000000;
$surfaceTint: #FFB787;
$primary: #FFB787;
$onPrimary: #502400;
$primaryContainer: #723600;
$onPrimaryContainer: #FFDCC7;
$inversePrimary: #964900;
$secondary: #EBBE90;
$onSecondary: #452A08;
$secondaryContainer: #62431F;
$onSecondaryContainer: #FFDEBF;
$tertiary: #E9C177;
$onTertiary: #412D00;
$tertiaryContainer: #AF8B48;
$onTertiaryContainer: #000000;
$error: #FFB4AB;
$onError: #690005;
$errorContainer: #93000A;
$onErrorContainer: #FFDAD6;
$primaryFixed: #FFDCC7;
$primaryFixedDim: #FFB787;
$onPrimaryFixed: #311300;
$onPrimaryFixedVariant: #723600;
$secondaryFixed: #FFDDBB;
$secondaryFixedDim: #EBBE90;
$onSecondaryFixed: #2B1700;
$onSecondaryFixedVariant: #5F401D;
$tertiaryFixed: #FFDEA6;
$tertiaryFixedDim: #E9C177;
$onTertiaryFixed: #271900;
$onTertiaryFixedVariant: #5D4202;
