$darkmode: true;
$primary: #ffb77d;
$onPrimary: #4e2500;
$primaryContainer: #703800;
$onPrimaryContainer: #ffdcc2;
$secondary: #e3bfa6;
$onSecondary: #422c1a;
$secondaryContainer: #5b412f;
$onSecondaryContainer: #ffdcc2;
$tertiary: #c6cb95;
$onTertiary: #2f330c;
$tertiaryContainer: #464a21;
$onTertiaryContainer: #e2e7af;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #130F0D;
$background: #130F0D;
$onBackground: #ece0da;
$surface: #201a17;
$onSurface: #ece0da;
$surfaceVariant: #51443b;
$onSurfaceVariant: #d6c3b7;
$outline: #9e8d82;
$shadow: #000000;
$inverseSurface: #ece0da;
$inverseOnSurface: #352f2b;
$inversePrimary: #934c00;
