$darkmode: true;
$primary: #ffb49f;
$onPrimary: #621000;
$primaryContainer: #891e00;
$onPrimaryContainer: #ffdacf;
$secondary: #e7bdb3;
$onSecondary: #442a23;
$secondaryContainer: #5d3f38;
$onSecondaryContainer: #ffdad0;
$tertiary: #dac58c;
$onTertiary: #3b2f05;
$tertiaryContainer: #534519;
$onTertiaryContainer: #f7e1a6;
$error: #ffb4a9;
$onError: #680003;
$errorContainer: #930006;
$onErrorContainer: #ffb4a9;
$colorbarbg: #130F0F;
$background: #130F0F;
$onBackground: #ede0dd;
$surface: #201a19;
$onSurface: #ede0dd;
$surfaceVariant: #534340;
$onSurfaceVariant: #d9c2bd;
$outline: #a08c87;
$shadow: #000000;
$inverseSurface: #ede0dd;
$inverseOnSurface: #362f2d;
$inversePrimary: #aa3617;
