[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[user]
	email = 67265008+aman333nolawz@users.noreply.github.com
	name = Nolawz
[status]
	showUntrackedFiles = no
[init]
	defaultBranch = main
[http]
	version = HTTP/1.1
