* {
    main-bg:            #0C1926B3;
    main-fg:            #CCE6FFE6;
    main-br:            #30678CE6;
    main-ex:            #0C3650E6;
    select-bg:          #AAD8F080;
    select-fg:          #294452E6;
}
