* {
    main-bg:            #120809B3;
    main-fg:            #FFCCD1E6;
    main-br:            #873B3BE6;
    main-ex:            #531518E6;
    select-bg:          #F0AAB080;
    select-fg:          #52292CE6;
}
