* {
    main-bg:            #191530B3;
    main-fg:            #D4CCFFE6;
    main-br:            #6B6392E6;
    main-ex:            #32427EE6;
    select-bg:          #AAC7F080;
    select-fg:          #293A52E6;
}
