ui_font "CaskaydiaCove Nerd Font"
page_separator_width 5

new_command _translate_selected_text python -m sioyek.translate "%{sioyek_path}" "%{selected_text}"
new_command _translate_current_line_text python -m sioyek.translate "%{sioyek_path}" "%{line_text}"

startup_commands toggle_statusbar

# === CATPPUCCIN MOCHA === #
background_color           #1a1b26
page_separator_color       #16161e

text_highlight_color       #e0af68
visual_mark_color          #7f849c

search_highlight_color     #e0af68
link_highlight_color       #89b4fa
synctex_highlight_color    #73daca

highlight_color_a          #e0af68
highlight_color_b          #73daca
highlight_color_c          #89dceb
highlight_color_d          #eba0ac
highlight_color_e          #cba6f7
highlight_color_f          #f38ba8
highlight_color_g          #e0af68


custom_background_color    #16161e
custom_text_color          #a9b1d6

ui_text_color              #a9b1d6
ui_background_color        #24283b
ui_selected_text_color     #1e1e2e
ui_selected_background_color #7AA2F7
